.home {
    &__hero {
        background-image: linear-gradient(to top, #2769b1, #09498f);
        .container {
            min-height: 100vh;
            .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 5px;
                height: 80px;
                ul {
                    list-style-type: none;
                    margin-bottom: 0;
                    padding-left: 0;
                    li {
                        display: inline;
                        padding: 10px;
                        margin-right: 10px;
                        a {
                            text-decoration: none;
                            font-family: Poppins;
                            font-size: 15px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
                .lang {
                    span {
                        font-family: Poppins;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: rgba(255, 255, 255, 0.46);
                    }
                    span:last-child {
                        font-weight: 500;
                        color: rgb(255, 255, 255);
                    }
                }
            }
            .fat-boy {
                img:first-child {
                    mix-blend-mode: screen;
                }
                div {
                    position: relative;
                    background-color: yellowgreen;
                    min-height: 100vh;
                }
                img {
                    position: absolute;
                    top: 25%
                }
            }
        }
    }
}