.home {
    &__hero {
        background-image: linear-gradient(to top, #2769b1, #09498f);
        .container {
            min-height: 100vh;
            .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 5px;
                height: 80px;
                ul {
                    list-style-type: none;
                    margin-bottom: 0;
                    padding-left: 0;
                    li {
                        display: inline;
                        padding: 10px;
                        margin-right: 10px;
                        a {
                            text-decoration: none;
                            font-family: Poppins;
                            font-size: 15px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
                .lang {
                    span {
                        font-family: Poppins;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: rgba(255, 255, 255, 0.46);
                    }
                    span:last-child {
                        font-weight: 500;
                        color: rgb(255, 255, 255);
                    }
                }
            }
            .row.middle {
                h1 {
                    font-family: Poppins;
                    font-size: 42px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.52;
                    letter-spacing: normal;
                    text-align: left;
                    color: #fff;
                    span {
                        font-family: Poppins;
                        font-size: 64px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        text-align: left;
                        color: #fff;
                        display: block;
                        padding-left: 26px;
                        ;
                    }
                }
                p {
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #fff;
                }
            }
            .row.bottom {
                div {
                    // background-color: brown;
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        // background-color: chartreuse;
                        border-top: thin solid rgba($color: #ffffff, $alpha: 0.5);
                        h2 {
                            font-family: Poppins;
                            font-size: 32px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 0.75;
                            letter-spacing: normal;
                            text-align: left;
                            color: #fff;
                        }
                    }
                }
            }
            .fat-boy {
                img:first-child {
                    mix-blend-mode: screen;
                }
                div {
                    position: relative;
                    // background-color: yellowgreen;
                    min-height: calc(100vh - 80px - 180px);
                }
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}